@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  overflow-x: hidden; /* Agrega esta línea */
}
/* Cambia el color de la scrollbar */
body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #132741;
}
s body::-webkit-scrollbar-thumb {
  background: #f6f5f2;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #f6f5f2;
}

.center-total {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow-mod {
  filter: drop-shadow(0px 32px 32px rgba(0, 0, 0, 0.2));
}

.primary-color {
  background-color: #5c1b33;
}
